.card__container {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 0.5rem;
}

.card__container--raised {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}